:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --ocean: #404bbf;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}

/* portfolio */
.header {
  background: var(--white);
}
.section-main {
  background: var(--navyblue);
}
a {
  text-decoration-line: none;
}
.list {
  list-style: none;
}

/* logo */

.nav-link .logo {
  color: var(--iris);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
}
.nav-link .logo-two {
  color: var(--navyblue);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
}
.list-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.link {
  text-decoration: none;
}
.list-position:hover,
.list-position:focus {
  color: var(--ocean);
}
/* address */
.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-top {
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
/* buttons  */
.button-name {
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
}
.button-name:hover,
.button-name:focus {
  color: var(--white);
  background-color: var(--ocean);
}
/* project  */
.project-text {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.position-name {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.link.logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* index.html */

/* main */

.title-one {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button-main {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
}
.button-main:hover,
.botton-main:focus {
  color: var(--white);
  background: var(--ocean);
}

/* Effective Solutions */

.effective {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.effective-p {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  What are we doing */

.advantages-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.adventages-img {
  border: 1px solid var(--cornflower);
}

/* Our Team */
.section-our-team {
  background: var(--cloud);
}
.team-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-img {
  background-color: #ffffff;
}
.worker {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.worker-position {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: var(--navyblue);
}

.footer-description {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-footer-two {
  justify-content: center;
  color: var(--cloud);
  font-size: 18px;
  font-style: normal;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer-one {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
