:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #fff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --ocean: #404bbf;
}
body {
  font-family: 'roboto', sans-serif;
  color: var(--navyblue);
  background-color: #fff;
  width: 1440px;
  height: 2592px;
}

/* portfolio */
.header {
  background: var(--white);
}
.section-main {
  background: var(--navyblue);
}
a {
  text-decoration-line: none;
}
ul {
  list-style-type: none;
}

/* logo */
.nav-link .logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
}
.logo2 {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
}
.link {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.32px;
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
/* address */
.address-link {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
}
.address-link:hover,
.address-link:focus {
  color: var(--iris);
}
/* buttons  */
.button-name {
  color: var(--iris);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.button-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
}
.button-name:hover {
  color: var(--white);
  background: var(--ocean);
  cursor: pointer;
}
.buttons-list.button:focus {
  color: var(--iris);
}
/* project  */
.project-text {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.position-name {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
}
.link.logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
}
/* index.html */

/* main */

.title-h1 {
  width: 496px;
  color: var(--white);
  text-align: right;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
}
.button-main {
  display: inline-flex;
  color: var(--white);
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.button-main:hover {
  color: var(--white);
  border-radius: 4px;
  background: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Effective Solutions */

.effective {
  width: 264px;
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.effective-p {
  width: 264px;
  color: var(--slate);
  line-height: 1.5;
}

/*  What are we doing */

.advantages-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
}
.adventages-img {
  border: 1px solid var(--cornflower);
}

/* Our Team */
.section-our-team {
  background: var(--cloud, #f4f4fd);
}
.team-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
}
.team-img {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.worker {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.worker-position {
  color: var(--slate);
  line-height: 1.5;
}
.footer {
  background: var(--navyblue);
}

.footer-description {
  color: var(--cloud);
  line-height: 1.5;
}
.logo-footer {
  width: 71px;
  height: 21px;
  justify-content: center;
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  line-height: 1.7;
}
